body {
  font-family: arial, sans-serif;
}

h1 {
  color: #007bff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
  line-height: 4px;
  list-style: none;
  margin: 25px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #70757a;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  list-style: none;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 20px;
}

.weather-app {
  border: 2px solid #b9e0ff;
  padding: 30px;
  border-radius: 24px;
}

.weather-icon {
  height: 74px;
  width: 67;
  margin-right: 10px;
}

.temperature1 {
  color: #007bff;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}
.gray {
  color: #70757a;
}

.weather-temperature .active {
  color: #70757a;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20;
  text-align: center;
  color: #70757a;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperatures-min {
  opacity: 0.7;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
